<a href="https://colab.research.google.com/github/wldopie/ESAA/blob/main/HW_Part3_220321.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Wine

### Introduction:

This exercise is a adaptation from the UCI Wine dataset.
The only pupose is to practice deleting data with pandas.

### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data).

### Step 3. Assign it to a variable called wine

In [ ]:
# wine.data의 경우 첫 번째 행이 header가 아니라, 첫 번째 행부터 데이터 값이 시작
# 따라서 header=None을 설정한 뒤 데이터 로딩
wine = pd.read_csv('wine.data', sep=',', header=None)
wine.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

### Step 4. Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns

In [ ]:
# 1, 4, 7, 9, 11, 13, 14번째 칼럼을 삭제 --> index = 0, 3, 6, 8, 10, 12, 13
# drop()를 이용해 칼럼 삭제, 칼럼을 삭제해야 하므로 axis=1
wine = wine.drop([0, 3, 6, 8, 10, 12, 13], axis=1)
wine.head()

      1     2     4    5     7     9     11
0  14.23  1.71  15.6  127  3.06  2.29  1.04
1  13.20  1.78  11.2  100  2.76  1.28  1.05
2  13.16  2.36  18.6  101  3.24  2.81  1.03
3  14.37  1.95  16.8  113  3.49  2.18  0.86
4  13.24  2.59  21.0  118  2.69  1.82  1.04

### Step 5. Assign the columns as below:

The attributes are (donated by Riccardo Leardi, riclea '@' anchem.unige.it):  
1) alcohol  
2) malic_acid  
3) alcalinity_of_ash  
4) magnesium  
5) flavanoids  
6) proanthocyanins  
7) hue

In [ ]:
# 칼럼명 추가 : df.columns = ['col1', 'col2', ...]
wine.columns = ['alcohol', 'malic_acid', 'alcalinity_of_ash', 'magnesium', 'flavanoids', 'proanthocyanins', 'hue']
wine.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,14.23,1.71,15.6,127,3.06,2.29,1.04
1,13.20,1.78,11.2,100,2.76,1.28,1.05
2,13.16,2.36,18.6,101,3.24,2.81,1.03
3,14.37,1.95,16.8,113,3.49,2.18,0.86
4,13.24,2.59,21.0,118,2.69,1.82,1.04

### Step 6. Set the values of the first 3 rows from alcohol as NaN

In [ ]:
# DataFrame에서 데이터를 NaN값으로 설정하는 방법 : np.nan
wine['alcohol'][0:3] = np.nan
wine.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,1.71,15.6,127,3.06,2.29,1.04
1,NaN,1.78,11.2,100,2.76,1.28,1.05
2,NaN,2.36,18.6,101,3.24,2.81,1.03
3,14.37,1.95,16.8,113,3.49,2.18,0.86
4,13.24,2.59,21.0,118,2.69,1.82,1.04

### Step 7. Now set the value of the rows 3 and 4 of magnesium as NaN

In [ ]:
wine['magnesium'][2,3] = np.nan
wine.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,NaN,1.71,15.6,127.0,3.06,2.29,1.04
1,NaN,1.78,11.2,100.0,2.76,1.28,1.05
2,NaN,2.36,18.6,NaN,3.24,2.81,1.03
3,14.37,1.95,16.8,NaN,3.49,2.18,0.86
4,13.24,2.59,21.0,118.0,2.69,1.82,1.04

### Step 8. Fill the value of NaN with the number 10 in alcohol and 100 in magnesium

In [ ]:
# 결측치 채우기 : fillna()
# alcohol 결측치 : 10으로 대체
wine['alcohol'] = wine['alcohol'].fillna(10)

# magnesium 결측치 : 100으로 대체
wine['magnesium'] = wine['magnesium'].fillna(100)

### Step 9. Count the number of missing values

In [ ]:
# missing value 개수 확인 : isna()
wine.isna().sum()

alcohol              0
malic_acid           0
alcalinity_of_ash    0
magnesium            0
flavanoids           0
proanthocyanins      0
hue                  0
dtype: int64

### Step 10.  Create an array of 10 random numbers up until 10

In [ ]:
array1 = np.array([1,2,3,4,5,6,7,8,9,10])
index = np.random.choice(array1, size=10, replace=False)      # 10까지의 숫자 중에서 랜덤하게 하나씩 추출

### Step 11.  Use random numbers you generated as an index and assign NaN value to each of cell.

In [ ]:
# iloc[] : 위치 인덱싱
wine.iloc[index, :] = np.nan      # 각 칼럼에서 index에 해당하는 행을 추출, NaN 값으로 변환

### Step 12.  How many missing values do we have?

In [ ]:
wine.isna().sum()     # 각 칼럼별로 10개씩의 missing value가 존재

alcohol              10
malic_acid           10
alcalinity_of_ash    10
magnesium            10
flavanoids           10
proanthocyanins      10
hue                  10
dtype: int64

### Step 13. Delete the rows that contain missing values

In [ ]:
# index에 해당하는 row를 삭제
# row를 삭제해야 하므로 axis=0
wine = wine.drop(index, axis=0)
wine

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.00,1.71,15.6,127.0,3.06,2.29,1.04
11,14.12,1.48,16.8,95.0,2.43,1.57,1.17
12,13.75,1.73,16.0,89.0,2.76,1.81,1.15
13,14.75,1.73,11.4,91.0,3.69,2.81,1.25
14,14.38,1.87,12.0,102.0,3.64,2.96,1.20
...,...,...,...,...,...,...,...
173,13.71,5.65,20.5,95.0,0.61,1.06,0.64
174,13.40,3.91,23.0,102.0,0.75,1.41,0.70
175,13.27,4.28,20.0,120.0,0.69,1.35,0.59
176,13.17,2.59,20.0,120.0,0.68,1.46,0.60
177,14.13,4.10,24.5,96.0,0.76,1.35,0.61

### Step 14. Print only the non-null values in alcohol

In [ ]:
wine.notnull().sum()      # Step 13에서 missing value가 포함된 row를 삭제했으므로, 현재 wine에 존재하는 데이터들은 모두 non-null

alcohol              168
malic_acid           168
alcalinity_of_ash    168
magnesium            168
flavanoids           168
proanthocyanins      168
hue                  168
dtype: int64

### Step 15.  Reset the index, so it starts with 0 again

In [ ]:
# reset_index 함수를 이용해 index를 reset
wine = wine.reset_index(drop=True)          # drop=True : 기존 index 삭제
wine

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue
0,10.00,1.71,15.6,127.0,3.06,2.29,1.04
1,14.12,1.48,16.8,95.0,2.43,1.57,1.17
2,13.75,1.73,16.0,89.0,2.76,1.81,1.15
3,14.75,1.73,11.4,91.0,3.69,2.81,1.25
4,14.38,1.87,12.0,102.0,3.64,2.96,1.20
...,...,...,...,...,...,...,...
163,13.71,5.65,20.5,95.0,0.61,1.06,0.64
164,13.40,3.91,23.0,102.0,0.75,1.41,0.70
165,13.27,4.28,20.0,120.0,0.69,1.35,0.59
166,13.17,2.59,20.0,120.0,0.68,1.46,0.60
167,14.13,4.10,24.5,96.0,0.76,1.35,0.61

### BONUS: Create your own question and answer it.

### Step 16. 새로운 칼럼 'danger'를 추가해 malic_acid가 3 이상인 wine을 boolean type으로 구분하라.

In [ ]:
# apply lambda 함수를 이용해 데이터 필터링
lambda_danger = lambda x : True if x >= 3 else False
wine['danger'] = wine['malic_acid'].apply(lambda x : lambda_danger(x))
wine

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flavanoids,proanthocyanins,hue,danger
0,10.00,1.71,15.6,127.0,3.06,2.29,1.04,False
1,14.12,1.48,16.8,95.0,2.43,1.57,1.17,False
2,13.75,1.73,16.0,89.0,2.76,1.81,1.15,False
3,14.75,1.73,11.4,91.0,3.69,2.81,1.25,False
4,14.38,1.87,12.0,102.0,3.64,2.96,1.20,False
...,...,...,...,...,...,...,...,...
163,13.71,5.65,20.5,95.0,0.61,1.06,0.64,True
164,13.40,3.91,23.0,102.0,0.75,1.41,0.70,True
165,13.27,4.28,20.0,120.0,0.69,1.35,0.59,True
166,13.17,2.59,20.0,120.0,0.68,1.46,0.60,False
167,14.13,4.10,24.5,96.0,0.76,1.35,0.61,True